---
- name: Check Docker binary exists
  command: docker --version
  register: docker_check
  changed_when: false

- name: Ensure Docker service is running
  systemd:
    name: "{{ docker_service }}"
    state: started
    enabled: true

- name: Ensure docker group exists
  group:
    name: docker
    state: present

- name: Add user to docker group
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: true
  notify: restart docker
