- name: install docker
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Enable and start Docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Add devops user to docker group
  user:
    name: devops
    groups: docker
    append: yes

- name: Wait for Docker daemon 
  shell: docker info
  register: docker_ready
  retries: 10
  delay: 3
  until: docker_ready.rc == 0
