- name: Remove old Docker packages
  apt:
    name:
      - docker
      - docker.io
      - containerd
      - containerd.io
      - runc
    state: absent
    purge: yes
  ignore_errors: true

- name: Ensure Docker is installed
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Add devops user to docker group
  user:
    name: devops
    groups: docker
    append: yes

