- name: Remove old Docker packages
  apt:
    name:
      - docker
      - docker.io
      - containerd
      - containerd.io
      - runc
    state: absent
    purge: yes
  ignore_errors: true

- name: Ensure Docker is installed
  apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Add devops user to docker group
  user:
    name: devops
    groups: docker
    append: yes

- name: Enable docker socket
  systemd:
    name : docker.socket
    enabled: yes
    state: started


- name: Wait for Docker daemon to be ready
  shell: |
    until docker info > /dev/null 2>&1; do
      sleep 2
    done
  retries: 10
  delay: 3
  register: docker_ready
  until: docker_ready.rc == 0

- name: Add devops user to docker group
  user:
    name: devops
    groups: docker
    append: yes
